# **Social Media DataAnalysis**
## **Coursera Project Network**
### **By: Abdessamad Touzani**

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import random

## **Generate random data**

In [7]:
Categories = ["Fashion", "Travel", "Culture", "Fitness", "Health", "Food", "Music"]

In [10]:
n=500 #period
data = {
    'Date': pd.date_range('2023-01-01', periods=n),
    'Category': [random.choice(Categories)for _ in range(n)],
    'Likes': np.random.randint(0, 1000, size=n)
}

## **Create DataFrame**

In [16]:
df = pd.DataFrame(data)

###  **DataFrame's head**

In [18]:
df.head()

        Date Category  Likes
0 2023-01-01   Travel    281
1 2023-01-02   Travel    359
2 2023-01-03    Music    598
3 2023-01-04  Fitness    799
4 2023-01-05   Health    461

### **DataFrame's information**

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      500 non-null    datetime64[ns]
 1   Category  500 non-null    object
 2   Likes     500 non-null    int32
dtypes: datetime64[ns](1), int32(1), object(1)
memory usage: 9.9+ KB

### **DataFrame's description**

In [20]:
df.describe()

                      Date       Likes
count                  500  500.000000
mean   2023-09-07 12:00:00  502.178000
min    2023-01-01 00:00:00    2.000000
25%    2023-05-05 18:00:00  239.000000
50%    2023-09-07 12:00:00  510.500000
75%    2024-01-10 06:00:00  758.250000
max    2024-05-14 00:00:00  999.000000
std                    NaN  296.834573

### **Count of each ‘Category’ element**

In [21]:
df['Category'].value_counts()

Category
Fitness    87
Music      77
Travel     73
Culture    71
Health     70
Food       62
Fashion    60
Name: count, dtype: int64

## **Cleaning Data**